In [1]:
import pandas as pd
import numpy as np
import os
import json
import nltk
import re
import csv
import matplotlib.pyplot as plt 
import seaborn as sns
from tqdm import tqdm
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [2]:
folder_path = '/home/yinghui/code/chooj202/movie_genre_prediction/movie_genre_prediction/raw_data/csv/'
dataframes = []
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path)
        dataframes.append(df)
merged_df = pd.concat(dataframes, ignore_index=True)

In [3]:
# action_df = pd.read_csv("/home/yinghui/code/chooj202/movie_genre_prediction/movie_genre_prediction/raw_data/csv/action_df.csv")
# adventure_df = pd.read_csv("/home/yinghui/code/chooj202/movie_genre_prediction/movie_genre_prediction/raw_data/csv/adventure_df.csv")
# animation_df = pd.read_csv("/home/yinghui/code/chooj202/movie_genre_prediction/movie_genre_prediction/raw_data/csv/animation_df.csv")
# biography_df = pd.read_csv("/home/yinghui/code/chooj202/movie_genre_prediction/movie_genre_prediction/raw_data/csv/biography_df.csv")
# comedy_df = pd.read_csv("/home/yinghui/code/chooj202/movie_genre_prediction/movie_genre_prediction/raw_data/csv/comedy_df.csv")
# crime_df = pd.read_csv("/home/yinghui/code/chooj202/movie_genre_prediction/movie_genre_prediction/raw_data/csv/crime_df.csv")
# documentary_df = pd.read_csv("/home/yinghui/code/chooj202/movie_genre_prediction/movie_genre_prediction/raw_data/csv/documentary_df.csv")

# merged_df = pd.concat([action_df, adventure_df, animation_df, biography_df, comedy_df, crime_df, documentary_df])
# merged_df.shape

In [4]:
merged_df.sample(5)

,Unnamed: 0,movie,imdb_id,genre,plot,image_url
4610,47,The Assassination of Jesse James by the Coward...,tt0443680,"['Biography', ' Crime', ' Drama']","Taking place in Missouri in the early 1880s, t...",http://img.omdbapi.com/?i=tt0443680&h=600&apik...
4492,179,The Courier,tt8368512,"['Drama', ' History', ' Thriller']",In the shadow of the Cold War a letter from Ol...,http://img.omdbapi.com/?i=tt8368512&h=600&apik...
1140,140,Goldfinger,tt0058150,"['Action', ' Adventure', ' Thriller']",James Bond (Sir Sean Connery) is back and his ...,http://img.omdbapi.com/?i=tt0058150&h=600&apik...
674,174,Jaws,tt0073195,"['Adventure', ' Mystery', ' Thriller']","It's a hot summer on Amity Island, a small com...",http://img.omdbapi.com/?i=tt0073195&h=600&apik...
4823,58,Swing Time,tt0028333,"['Comedy', ' Musical', ' Romance']",Lucky is tricked into missing his wedding to M...,http://img.omdbapi.com/?i=tt0028333&h=600&apik...

In [5]:
merged_df = merged_df.drop(columns=['Unnamed: 0'])

In [6]:
merged_df = merged_df.drop_duplicates()
merged_df.shape

(2590, 5)

In [7]:
merged_df.sample(5)

,movie,imdb_id,genre,plot,image_url
3096,Looking for Eric,tt1242545,"['Comedy', ' Drama', ' Fantasy']","Eric Bishop, a middle-aged postman working for...",http://img.omdbapi.com/?i=tt1242545&h=600&apik...
125,The Emperor's New Groove,tt0120917,"['Animation', ' Adventure', ' Comedy']",In this animated comedy from the folks at Disn...,http://img.omdbapi.com/?i=tt0120917&h=600&apik...
4917,Robin Hood: Men in Tights,tt0107977,"['Adventure', ' Comedy', ' Musical']","Robin of Locksley, known as the most skilled a...",http://img.omdbapi.com/?i=tt0107977&h=600&apik...
4047,Jackie Brown,tt0119396,"['Crime', ' Drama', ' Thriller']",The middle-aged stewardess Jackie Brown smuggl...,http://img.omdbapi.com/?i=tt0119396&h=600&apik...
3177,17 Again,tt0974661,"['Comedy', ' Drama', ' Fantasy']",At 17 Mike O'Donnell is on top of the world: h...,http://img.omdbapi.com/?i=tt0974661&h=600&apik...

In [8]:
import string
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords 
from nltk.stem import WordNetLemmatizer

In [9]:
def cleaning(sentence):
    
    # Basic cleaning
    sentence = sentence.strip() ## remove whitespaces
    sentence = sentence.lower() ## lowercase 
    sentence = ''.join(char for char in sentence if not char.isdigit()) ## remove numbers
    
    # Advanced cleaning
    for punctuation in string.punctuation:
        sentence = sentence.replace(punctuation, '') ## remove punctuation
    
    tokenized_sentence = word_tokenize(sentence) ## tokenize 
    stop_words = set(stopwords.words('english')) ## define stopwords
    
    tokenized_sentence_cleaned = [ ## remove stopwords
        w for w in tokenized_sentence if not w in stop_words
    ]

    lemmatized = [
        WordNetLemmatizer().lemmatize(word, pos = "v") 
        for word in tokenized_sentence_cleaned
    ]
    
    cleaned_sentence = ' '.join(word for word in lemmatized)
    
    return cleaned_sentence

In [10]:
merged_df["clean_plot"] = merged_df["plot"].apply(cleaning)

In [11]:
merged_df

,movie,imdb_id,genre,plot,image_url,clean_plot
0,Spider-Man: Across the Spider-Verse,tt9362722,"['Animation', ' Action', ' Adventure']",Miles Morales returns for the next chapter of ...,http://img.omdbapi.com/?i=tt9362722&h=600&apik...,miles morales return next chapter oscar®winnin...
1,It's a Wonderful Life,tt0038650,"['Drama', ' Family', ' Fantasy']",George Bailey has spent his entire life giving...,http://img.omdbapi.com/?i=tt0038650&h=600&apik...,george bailey spend entire life give people be...
2,The Lion King,tt0110357,"['Animation', ' Adventure', ' Drama']",A young lion prince is cast out of his pride b...,http://img.omdbapi.com/?i=tt0110357&h=600&apik...,young lion prince cast pride cruel uncle claim...
3,Spider-Man: Into the Spider-Verse,tt4633694,"['Animation', ' Action', ' Adventure']","Phil Lord and Christopher Miller, the creative...",http://img.omdbapi.com/?i=tt4633694&h=600&apik...,phil lord christopher miller creative mind beh...
4,Coco,tt2380307,"['Animation', ' Adventure', ' Drama']",Despite his family's baffling generations-old ...,http://img.omdbapi.com/?i=tt2380307&h=600&apik...,despite familys baffle generationsold ban musi...
...,...,...,...,...,...,...
5010,Pootie Tang,tt0258038,"['Action', ' Adventure', ' Comedy']","Pootie Tang, the musician/actor/folk hero of t...",http://img.omdbapi.com/?i=tt0258038&h=600&apik...,pootie tang musicianactorfolk hero ghetto chro...
5011,Pinocchio,tt4593060,"['Adventure', ' Comedy', ' Drama']",A live-action adaptation of Disney's 'Pinocchio'.,http://img.omdbapi.com/?i=tt4593060&h=600&apik...,liveaction adaptation disneys pinocchio
5012,Fame,tt1016075,"['Drama', ' Musical', ' Romance']","An updated version of the musical Fame (1980),...",http://img.omdbapi.com/?i=tt1016075&h=600&apik...,update version musical fame center students ne...
5013,High School Musical 3: Senior Year,tt0962726,"['Comedy', ' Drama', ' Family']",Troy and the gang of East High School are goin...,http://img.omdbapi.com/?i=tt0962726&h=600&apik...,troy gang east high school go senior year face...
5014,Alvin and the Chipmunks: The Road Chip,tt2974918,"['Animation', ' Adventure', ' Comedy']","Alvin, Simon, Theodore have been living with, ...",http://img.omdbapi.com/?i=tt2974918&h=600&apik...,alvin simon theodore live annoy dave seville y...

In [12]:
merged_df["genre"] = (
    merged_df["genre"]
    .apply(eval)
    .apply(lambda x: [genre.strip() for genre in x])
    )

In [13]:
#check the genre we have
merged_df["genre"].explode().value_counts()

Drama        1684
Comedy        806
Adventure     587
Action        478
Crime         395
Biography     378
Romance       344
Animation     287
Thriller      249
Mystery       235
Horror        229
Music         204
History       190
Fantasy       183
Family        179
Sport         168
War           130
Sci-Fi        122
Western       104
Musical       103
Film-Noir      59
Name: genre, dtype: int64

In [14]:
from sklearn.preprocessing import MultiLabelBinarizer

multilabel_binarizer = MultiLabelBinarizer()
multilabel_binarizer.fit(merged_df["genre"])

# transform target variable
y = multilabel_binarizer.transform(merged_df['genre'])

In [15]:
y.shape

(2590, 21)

In [16]:
genre_names = multilabel_binarizer.classes_

# Adding 
for i in range(len(genre_names)):
    merged_df[f"{genre_names[i]}"] = y[:,i]

merged_df.shape

(2590, 27)

In [17]:
merged_df.head(5)

,movie,imdb_id,genre,plot,image_url,clean_plot,Action,Adventure,Animation,Biography,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,Spider-Man: Across the Spider-Verse,tt9362722,"[Animation, Action, Adventure]",Miles Morales returns for the next chapter of ...,http://img.omdbapi.com/?i=tt9362722&h=600&apik...,miles morales return next chapter oscar®winnin...,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,It's a Wonderful Life,tt0038650,"[Drama, Family, Fantasy]",George Bailey has spent his entire life giving...,http://img.omdbapi.com/?i=tt0038650&h=600&apik...,george bailey spend entire life give people be...,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Lion King,tt0110357,"[Animation, Adventure, Drama]",A young lion prince is cast out of his pride b...,http://img.omdbapi.com/?i=tt0110357&h=600&apik...,young lion prince cast pride cruel uncle claim...,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Spider-Man: Into the Spider-Verse,tt4633694,"[Animation, Action, Adventure]","Phil Lord and Christopher Miller, the creative...",http://img.omdbapi.com/?i=tt4633694&h=600&apik...,phil lord christopher miller creative mind beh...,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,Coco,tt2380307,"[Animation, Adventure, Drama]",Despite his family's baffling generations-old ...,http://img.omdbapi.com/?i=tt2380307&h=600&apik...,despite familys baffle generationsold ban musi...,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
X_train, X_test, y_train, y_test = train_test_split(merged_df['clean_plot'], y, test_size=0.3)

In [35]:
X_train.head(5)

1249    third installment adrenalinefueled action fran...
2710    jam gregory live farm befriend native youth ba...
465     drama chart ten years transgender womans relat...
3556    nursery teacher jenny boyfriend steve escape r...
3924    bronx new york yearold calogero grow admire fa...
Name: clean_plot, dtype: object

In [ ]:
y

In [19]:
# Instantiating the TfidfVectorizer
tf_idf_vectorizer = TfidfVectorizer(max_df=0.8, min_df=0.05, max_features=10000)

# Training it on the texts
X_train_vec = pd.DataFrame(tf_idf_vectorizer.fit_transform(X_train).toarray(),
                 columns = tf_idf_vectorizer.get_feature_names_out())
X_test_vec =  pd.DataFrame(tf_idf_vectorizer.transform(X_test).toarray(),
                 columns = tf_idf_vectorizer.get_feature_names_out())

In [20]:
X_train_vec.head()

,along,also,american,another,away,back,base,become,begin,believe,...,war,way,wife,woman,work,world,would,years,york,young
0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
1,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.145603,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.167704,0.000000,0.000000
2,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.621783,0.000000,0.000000
3,0.0,0.0,0.0,0.0,0.355019,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.285729,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.258682
4,0.0,0.0,0.0,0.0,0.314109,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.312513,0.000000

In [21]:
X_test_vec.head()

,along,also,american,another,away,back,base,become,begin,believe,...,war,way,wife,woman,work,world,would,years,york,young
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.281452,0.000000,0.0,0.0,0.0,0.0,0.283573,0.0,0.000000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.161962,0.0,0.0,0.0,0.0,0.000000,0.0,0.136129
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.314146,0.0,...,0.0,0.000000,0.667616,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import f1_score, accuracy_score

## Simple OneVsRest logistic regression

In [23]:
log = LogisticRegression()
model_test_1 = OneVsRestClassifier(log)

model_test_1.fit(X_train_vec, y_train)

OneVsRestClassifier(estimator=LogisticRegression())

In [24]:
y_pred = model_test_1.predict(X_test_vec)

In [26]:
accuracy_score(y_test, y_pred)

0.02059202059202059

In [27]:
multilabel_binarizer.inverse_transform(y_pred)[1]

('Drama',)

In [29]:
merged_df[merged_df.clean_plot == X_test.iat[1]]

,movie,imdb_id,genre,plot,image_url,clean_plot,Action,Adventure,Animation,Biography,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
1297,The Straight Story,tt0166896,"[Biography, Drama]",Seventy-three year old Alvin Straight is a sim...,http://img.omdbapi.com/?i=tt0166896&h=600&apik...,seventythree year old alvin straight simple li...,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

### Grouping the topic

In [30]:
from sklearn.decomposition import LatentDirichletAllocation

# Instantiate the LDA 
n_components = 15
lda_model = LatentDirichletAllocation(n_components=n_components, max_iter = 1000)

# Fit the LDA on the vectorized documents
lda_model.fit(X_train_vec)

LatentDirichletAllocation(max_iter=1000, n_components=15)

In [31]:
X_train_topic_mixture = lda_model.transform(X_train_vec)
X_train_topic_df = pd.DataFrame(X_train_topic_mixture)
X_train_topic_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.021603,0.021603,0.021603,0.021603,0.021603,0.374361,0.021603,0.021603,0.344798,0.021603,0.021603,0.021603,0.021603,0.021603,0.021603
1,0.011637,0.011637,0.011637,0.011637,0.053830,0.011637,0.011637,0.011637,0.011637,0.011637,0.374518,0.011637,0.432008,0.011637,0.011637
2,0.027720,0.027720,0.027720,0.027720,0.027720,0.027720,0.611915,0.027720,0.027720,0.027720,0.027720,0.027720,0.027720,0.027720,0.027720
3,0.016143,0.016143,0.016143,0.693823,0.016143,0.016143,0.016143,0.016143,0.096321,0.016143,0.016143,0.016143,0.016143,0.016143,0.016143
4,0.015012,0.015012,0.015012,0.015012,0.151374,0.015012,0.653472,0.015012,0.015012,0.015012,0.015012,0.015012,0.015012,0.015012,0.015012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1808,0.016240,0.016240,0.016240,0.016240,0.016240,0.772638,0.016240,0.016240,0.016240,0.016240,0.016240,0.016240,0.016240,0.016240,0.016240
1809,0.016672,0.016673,0.016672,0.016672,0.016672,0.016672,0.016672,0.016672,0.016672,0.016672,0.016672,0.766588,0.016672,0.016672,0.016672
1810,0.014573,0.014572,0.014572,0.014572,0.014572,0.014572,0.014572,0.014572,0.014572,0.014572,0.014572,0.014573,0.014572,0.795985,0.014572
1811,0.019459,0.019459,0.019459,0.019459,0.019459,0.019459,0.019459,0.019459,0.019459,0.019461,0.019459,0.019459,0.019459,0.019459,0.727575
1812,0.014255,0.014255,0.014255,0.014255,0.014255,0.014255,0.233454,0.014255,0.107283,0.014255,0.014255,0.014255,0.014255,0.014255,0.488201

In [32]:
X_test_topic_mixture = lda_model.transform(X_test_vec)
X_test_topic_df = pd.DataFrame(X_test_topic_mixture)
X_test_topic_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.024526,0.024527,0.024526,0.024526,0.024526,0.024527,0.024527,0.024526,0.024526,0.024527,0.024527,0.024527,0.024527,0.656629,0.024527
1,0.049267,0.012487,0.012484,0.012484,0.012484,0.012485,0.046452,0.012484,0.012484,0.012484,0.012484,0.012484,0.754470,0.012485,0.012485
2,0.012102,0.012102,0.012102,0.012102,0.012102,0.330382,0.512296,0.012102,0.012102,0.012102,0.012102,0.012102,0.012102,0.012102,0.012102
3,0.015573,0.015573,0.015573,0.015573,0.015573,0.015573,0.015573,0.015573,0.015573,0.015573,0.015573,0.015573,0.781978,0.015573,0.015573
4,0.020073,0.020073,0.020073,0.020073,0.020073,0.718973,0.020073,0.020073,0.020073,0.020073,0.020073,0.020073,0.020073,0.020073,0.020073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,0.066667,0.066667,0.066667,0.066667,0.066667,0.066667,0.066667,0.066667,0.066667,0.066667,0.066667,0.066667,0.066667,0.066667,0.066667
773,0.020961,0.020961,0.020961,0.020961,0.020961,0.020961,0.020961,0.020961,0.020961,0.020961,0.020961,0.020961,0.706541,0.020961,0.020961
774,0.011006,0.011006,0.011006,0.011006,0.011006,0.011006,0.845915,0.011006,0.011006,0.011006,0.011006,0.011006,0.011006,0.011006,0.011006
775,0.015412,0.015412,0.015411,0.015412,0.015412,0.015412,0.784239,0.015412,0.015411,0.015411,0.015411,0.015412,0.015412,0.015412,0.015412
776,0.016431,0.016431,0.016431,0.016431,0.016431,0.016431,0.016431,0.016431,0.016431,0.016431,0.274042,0.512351,0.016431,0.016431,0.016431

## Training OneVsRest using topic grouping as input

In [33]:
model_test_2 = OneVsRestClassifier(log)
model_test_2.fit(X_train_topic_df, y_train)

OneVsRestClassifier(estimator=LogisticRegression())

In [34]:
y_pred_2 = model_test_2.predict(X_test_topic_df)
accuracy_score(y_test, y_pred, average="micro")

TypeError: got an unexpected keyword argument 'average'

In [ ]:
multilabel_binarizer.inverse_transform(y_pred_2)[0:10]

In [ ]:
multilabel_binarizer.inverse_transform(y_test)[0:10]

## Using both topic grouping as input + OneVsRest

In [ ]:
model_test_3 = OneVsRestClassifier(log)
model_test_3.fit(X_train_topic_df, y_train)
model_test_3.fit(X_train_vec, y_train)

In [ ]:
y_pred_3 = model_test_2.predict(X_test_topic_df)
accuracy_score(y_test, y_pred, average="micro")